<h1>Blog</h1>

<h2>
	<%= link_to "New post", new_post_path %>
</h2>

<ul>
	<% @posts.each do |post| %>	
		<li>
			<h2>
				<%= post.title %>
			</h2>
			<p><%= post.body %></p>
			<%= link_to "View", post_path(post) %>
			<%= link_to "Edit", edit_post_path(post) %>
			<%= link_to "Delete", post_path(post), method: :delete %>
		</li>
	<% end %>
</ul>