<h1>Home Page</h1>

<div class="todos-form">
	<form action="/todos/create" method="POST">
		<input type:"text" name="title" placeholder="Insert your todo here">
		<button type="submit">Add new todos</button>
	</form>
</div>

<div class="todos-list">
	<h2>Not complete</h2>
	<% @todos.each do |todo| %>
		<div class="todo">
			<%= todo.title %>
			...
			<%= todo.complete %>
			<a href="/todos/<%= todo.id %>/toggle">Toggle</a>
			<a href="/todos/<%= todo.id %>/remove">Remove</a>
		</div>
	<% end %>
</div>

<div class="todos-list">
	<h2>Complete</h2>
	<% @todos.each do |todo| %>
		<div class="todo">
			<%= todo.title %>
			...
			<%= todo.complete %>
			<a href="/todos/<%= todo.id %>/toggle">Toggle</a>
			<a href="/todos/<%= todo.id %>/remove">Remove</a>
		</div>
	<% end %>
</div>